<mat-tab-group (selectedTabChange)="selectedTabChanged()" [(selectedIndex)]="displayIndex" mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
    <mat-tab label="Map">
        <!-- <app-auto-complete></app-auto-complete> -->
        <app-map-chart [endDate]="endDate" [metric]="metric" [populationMax]="populationMax" [gdpMin]="gdpMin" (changeTabEvent)="changeTab($event)"></app-map-chart>
    </mat-tab>
    <mat-tab label="Chart">
        <app-line-chart [endDate]="endDate" [metric]="metric" [countryList]="countryDataInput"></app-line-chart>
    </mat-tab>
    <mat-tab label="Prediction" class="parentCenter">
        <app-prediction></app-prediction>
    </mat-tab>
  </mat-tab-group>