<!-- <div style="text-align:center">
    <h1>countries-map demo</h1>
  </div>
  <h2>Map with data</h2> -->
  <div class="mapchart">
    <countries-map *ngIf="!loading"
      class="demo-maps"
      [data]="mapData"
      minColor="white"
      maxColor="red"
      (chartSelect)="select($event)"
      (chartError)="mapError($event)"
      (chartReady)="mapReady()"
      >
    </countries-map>
  </div>
  <!-- <ng-template #errorOnLoad>
    <span>{{errorLoading?.message}}</span>
  </ng-template> -->
