<!-- <form class="example-form">
    <mat-form-field *ngIf="!loading" class="example-full-width" appearance="fill">
      <mat-label>Select Country</mat-label>
      <input matInput
             aria-label="State"
             [matAutocomplete]="auto"
             [formControl]="countryCtrl">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)='checkCountryInList($event.option.value)'>
        <mat-option *ngFor="let state of filteredCountries | async" [value]="state.name">
          <span>{{state.name}}</span> 
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  
    <br>

    <div *ngIf="errorMessage" class="alert alert-warning">
        <strong>Warning!</strong> {{errorMessage | json}}
      </div>

      <div *ngIf="loading">loading...</div>

  </form> -->

  <div class="loading">
    <mat-spinner class="loading-content" *ngIf="loading"></mat-spinner>
  </div>

  <mat-selection-list *ngIf="!loading" (selectionChange)="countryListSelectedChange($event.option.value)" #countrySelectionList>
    <mat-list-option selected="true" *ngFor="let country of countryListSelected" [value]="country">
      {{country.name}}
    </mat-list-option>
  </mat-selection-list>

  <mat-selection-list *ngIf="!loading" (selectionChange)="countryListChange($event.option.value)" #countrySelectionList>
    <mat-list-option *ngFor="let country of countryList" [value]="country">
      {{country.name}}
    </mat-list-option>
  </mat-selection-list>
  