<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Select Country</mat-label>
      <input matInput
             aria-label="State"
             [matAutocomplete]="auto"
             [formControl]="countryCtrl">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)='getCountryData($event.option.value)'>
        <mat-option *ngFor="let state of filteredCountries | async" [value]="state.name">
          <!-- <img class="example-option-img" aria-hidden [src]="state.flag" height="25"> -->
          <span>{{state.name}}</span> 
          <!-- | -->
          <!-- <small>Population: {{state.population}}</small> -->
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  
    <br>

    <div *ngIf="errorMessage" class="alert alert-warning">
        <strong>Warning!</strong> {{errorMessage | json}}
      </div>

      <div *ngIf="loading">loading...</div>
    <!-- <mat-slide-toggle
      [checked]="stateCtrl.disabled"
      (change)="stateCtrl.disabled ? stateCtrl.enable() : stateCtrl.disable()">
      Disable Input?
    </mat-slide-toggle> -->
  </form>
  