<div class="parent">
    
      <mat-form-field appearance="fill">
        <mat-label>Metric</mat-label>
        <mat-select [(value)]="selectedVerticalOption">
          <mat-option *ngFor="let opt of verticalOptions" [value]="opt">
            {{opt}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Date Range</mat-label>
        <mat-date-range-input
          [formGroup]="campaignOne"
          [rangePicker]="campaignOnePicker"
          >
          <input matStartDate placeholder="Start date" formControlName="start">
          <input matEndDate placeholder="End date" formControlName="end">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
        <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
      </mat-form-field>

</div>


